

{% extends "base.html" %}

{% block content %}

    <P>Sua origem é: {{ form.origem.value }}</P>
    <P>Seu Destino é: {{ form.destino.value }}</P>
    <P>Sua data de ida é: {{ form.data_ida.value }}</P>
    <P>Sua data de volta é: {{ form.data_volta.value }}</P>
    <P>Pesquisada realizada no dia: {{ form.data_pesquisa.value }}</P>
    <P>A classe de vôo: {{ form.classe_viagem.value }}</P>
    <P>Informações extras: {{ form.informacoes.value }}</P>
    <P>E-mail para contato: {{ form.email.value }}</P>

{% endblock  %}
 